.row1{
    color: rgb(0, 94, 255);
} 
.row2{
    color: rgb(165, 133, 28);
     
} 
.row3{ 
    color: rgb(225, 145, 48);

}
.row4{ 
    color: rgb(48, 136, 33);

}

body{
    background-color: rgb(216, 219, 219);
}
