*{
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --bs-gutter-x: 0 !important; 
}

.row.no-gutters > * {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

h2{
   font-size: medium; 
    font-family: Arial, Helvetica, sans-serif;
    /* color: rgb(0, 94, 255);  */
}



.left-col{
color: rgb(23, 22, 21);
background-color: rgb(14, 88, 106);

} 
.right-col{
    color: #111515;
    background-color: rgb(155, 102, 22);
} 
.statsButton{



    background-color: #ede8e8;
}